@tailwind base;
@tailwind components;
@tailwind utilities;


.button-wrap {
  align-items: center;
  height: 100%;
}

/* replace a icon with a image */
.rmel-iconfont {
  display: none;
}
.button-type-header, .button-type-wrap, .button-type-table, .button-type-header, .button-type-clear, .button-type-undo, .button-type-redo {
  display: none !important;
}
.button-type-mode {
  aspect-ratio: 1/1;
  height: 100%;
}
.rmel-icon-visibility {
  display: inline;
  color: transparent;
  background-image: url("./assets/svg/eye.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;aspect-ratio: 1/1; height: 100%;
}
.rmel-icon-keyboard {
  display: inline;
  color: transparent;
  background-image: url("./assets/svg/pencil.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  aspect-ratio: 1/1; height: 100%;
}

.button-type-link {
  background-image: url("./assets/svg/link.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1; height: 100%;
}
.button-type-code-inline {
  background-image: url("./assets/svg/code.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1; height: 100%;
}
.button-type-strikethrough {
  background-image: url("./assets/svg/strikethrough.svg");
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1; height: 100%;
}
.button-type-bold {
  background-image: url("./assets/svg/bold.svg");
  background-position: center;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-italic {
  background-image: url("./assets/svg/italic.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-underline {
  background-image: url("./assets/svg/underline.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-code-block {
  background-image: url("./assets/svg/codeBlock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-quote {
  background-image: url("./assets/svg/quote.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-listc {
  background-image: url("./assets/svg/listc.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-unordered {
  background-image: url("./assets/svg/listu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-ordered {
  background-image: url("./assets/svg/listo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;aspect-ratio: 1/1; height: 100%;
}
.button-type-image {
  background-image: url("./assets/svg/image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/1; height: 100%;
}

.rc-md-navigation {
  background-color: #7dd3fc !important;
  border: none !important;
}
.rc-md-divider {
  color: #fff;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 65%;
  border-radius: 1px;
  width: 2px !important
}

.rc-md-editor {
  border: none !important;
}

ul {
  list-style: inherit !important;
}
li.task-list-item {
  list-style: none !important;
  margin: 0 .2em .25em -1.2em !important;
  vertical-align: middle;
}
ol {
  list-style: decimal !important;
}
li {
  margin: 0px !important;
}
img {
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #7dd3fc;
}
a:hover {
  color: #7dd3fc;
  text-decoration: underline;
}
